@{
    ViewBag.Title = "Home Page";
}
@Styles.Render("~/Content/Home.css")



<div class="rows">
    <div class="block">
        <a class="search" href="@Url.Action("search","Employee")"><i class="glyphicon glyphicon-search" style="font-size:25px;color:white;"></i><h1>Search Employee</h1></a>
    </div>
    <div class="block">
        <a class="Employee" href="@Url.Action("addemp","Employee")"><i class="glyphicon glyphicon-plus" style="font-size:25px;color:white;"></i> <h1>Add Employee</h1></a>
    </div>
    <div class="block">
        <a class="Team" href="@Url.Action("Index","Teams")"><i class="glyphicon glyphicon-user" style="font-size:25px;color:white;"></i><h1>Teams</h1></a>
    </div>
</div>
<div class="rows">
    <div class="block">
        <a class="Project" href="@Url.Action("index","Project")"><i class="glyphicon glyphicon-wrench" style="font-size:25px;color:white;"></i><h1>Projects</h1></a>
    </div>
    <div class="block">
        <a class="salary" href="@Url.Action("index","Salary")"><i class="glyphicon glyphicon-briefcase" style="font-size:25px;color:white;"></i><h1>Salary</h1></a>
    </div>

</div>





















