@model EmployeeManagement.Models.Salary
@{
    ViewBag.Title = "hikebyemployee";
}

<h2>hikebyemployee</h2>

@using (Html.BeginForm("hikebyemployee", "Salary", FormMethod.Post))
{
    <input type="number" value="search" name="empid" id="empid" placeholder="Employee ID" />
    <input type="submit" value="Search" />
}

@if(Model.SalaryId!=0){
<div>

    @using (Html.BeginForm("executehikeforemployee", "Salary", FormMethod.Post))
    {
        @Html.HiddenFor(m => m.SalaryId)
        @Html.LabelFor(m => m.EmployeeId)
        <br />
        @Html.DisplayFor(m => m.EmployeeId)
        @Html.HiddenFor(m=>m.EmployeeId)
        <br />
        @Html.LabelFor(m => m.SalaryAmount)
        <br />
        @Html.DisplayFor(m => m.SalaryAmount)
        @Html.HiddenFor(m=>m.SalaryAmount)
        <br />
        <lable><b>Hike Percentage</b></lable>
        <br />
        <input type="number" value="hike" id="hike" name="hike" placeholder="Enter hike percentage" />
        <input type="submit" value="submit" />


    }
</div>
}

